/*
font-family: 'Homemade Apple', cursive;
font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Tangerine', cursive;
*/

body {
    background-color: #325da1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23325da1' width='11' height='11'/%3E%3Crect fill='%23295fa3' x='10' width='11' height='11'/%3E%3Crect fill='%231c61a5' y='10' width='11' height='11'/%3E%3Crect fill='%230663a6' x='20' width='11' height='11'/%3E%3Crect fill='%230064a7' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%230066a9' y='20' width='11' height='11'/%3E%3Crect fill='%230068aa' x='30' width='11' height='11'/%3E%3Crect fill='%23006aab' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23006cab' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23006dac' y='30' width='11' height='11'/%3E%3Crect fill='%23006fac' x='40' width='11' height='11'/%3E%3Crect fill='%230070ac' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%230072ac' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%230074ac' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%230075ac' y='40' width='11' height='11'/%3E%3Crect fill='%230077ab' x='50' width='11' height='11'/%3E%3Crect fill='%230078aa' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23007aa9' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23007ba8' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23007ca7' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23007ea6' y='50' width='11' height='11'/%3E%3Crect fill='%23007fa4' x='60' width='11' height='11'/%3E%3Crect fill='%230080a2' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%230081a0' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%2300839e' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%2300849c' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%2300859a' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23008697' x='70' width='11' height='11'/%3E%3Crect fill='%23008794' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23008892' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%2300898f' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23008a8c' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23008b89' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23008c85' x='80' width='11' height='11'/%3E%3Crect fill='%23008d82' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23008e7f' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23008e7b' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23008f78' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23009074' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23009171' x='90' width='11' height='11'/%3E%3Crect fill='%2300916d' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23009269' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23009366' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23009362' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%2300945e' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%2300945a' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23009557' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23119553' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%2322964f' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%232e964c' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23389648' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23409744' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23489741' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%234f973d' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%2356973a' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%235c9736' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23639733' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%2369972f' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%236f972c' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23759729' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
h1 {
    font-family: 'Homemade Apple', cursive;
    text-align: center;
    font-size: 50px;
}

figure img {
    width: 500px;
    align-items: center;
}
figure {
    text-align: center;
}

.fig-quote {
    font-size: 30px;
    font-family: 'Homemade Apple', cursive;
}
.fig-author {
    font-size: 15px;
    font-family: 'Homemade Apple', cursive;
}

.footer-text {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}