/*
font-family: 'Homemade Apple', cursive;
font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Tangerine', cursive;
*/

body {
    background-color: #e1e8f8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23e1e8f8' width='11' height='11'/%3E%3Crect fill='%23dee5f7' x='10' width='11' height='11'/%3E%3Crect fill='%23dbe3f5' y='10' width='11' height='11'/%3E%3Crect fill='%23d8e0f4' x='20' width='11' height='11'/%3E%3Crect fill='%23d5def2' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23d2dbf1' y='20' width='11' height='11'/%3E%3Crect fill='%23cfd9ef' x='30' width='11' height='11'/%3E%3Crect fill='%23ccd7ee' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23cad4ec' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23c7d2eb' y='30' width='11' height='11'/%3E%3Crect fill='%23c4cfe9' x='40' width='11' height='11'/%3E%3Crect fill='%23c1cde8' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23becae6' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23bbc8e5' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23b8c5e3' y='40' width='11' height='11'/%3E%3Crect fill='%23b5c3e2' x='50' width='11' height='11'/%3E%3Crect fill='%23b3c0e0' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23b0bedf' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23adbcdd' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23aab9dc' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23a7b7db' y='50' width='11' height='11'/%3E%3Crect fill='%23a4b4d9' x='60' width='11' height='11'/%3E%3Crect fill='%23a1b2d8' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%239fafd6' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%239cadd5' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%2399abd3' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%2396a8d2' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%2393a6d0' x='70' width='11' height='11'/%3E%3Crect fill='%2390a3cf' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%238ea1cd' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%238b9fcc' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23889cca' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23859ac9' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%238298c7' x='80' width='11' height='11'/%3E%3Crect fill='%237f95c6' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%237c93c4' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%237a91c3' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23778ec1' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23748cc0' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23718abf' x='90' width='11' height='11'/%3E%3Crect fill='%236e87bd' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%236b85bc' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%236883ba' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%236581b9' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23637eb7' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23607cb6' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%235d7ab4' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%235a77b3' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%235775b1' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%235473b0' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%235071ae' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%234d6ead' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%234a6cab' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23476aaa' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%234468a8' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%234066a7' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%233d63a5' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%233961a4' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23365fa2' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23325da1' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-family: 'Homemade Apple', cursive;
    text-align: center;
    font-size: 50px;
    padding: 20px;
    color: #0b2753;
    margin-top: 20px;
}

figure img {
    width: 500px;
    align-items: center;
    padding: 20px;
    border-radius: 30%;
}

figure {
    text-align: center;
}

.fig-quote {
    font-size: 30px;
    font-family: 'Homemade Apple', cursive;
    color: #0b2753;
    animation-name: quote;
    animation-duration: 4s;
}

.fig-author {
    font-size: 15px;
    font-family: 'Homemade Apple', cursive;
    color: #0b2753;
    animation-name: author;
    animation-duration: 4s;
}

@keyframes quote {
from {color:#0b2753;}
to {color: #e1e8f8;}
}

@keyframes author {
    from {color:#0b2753;}
    to {color: #e1e8f8;}
    }

.footer-text {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #0b2753;
}

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    padding: 10px;
    background-color: #325DA1;
    color: #e1e8f8;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #e1e8f8;
    color: #24294A;
}

.home-divs {
    color:#e1e8f8;
    background-color: #325DA1;
    font-family: 'Homemade Apple', cursive;
    font-size: 30px;
}